<!DOCTYPE HTML>

<html>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<meta charset="utf-8">
	<title>Log in</title>

	<!-- bootstrap -->
	<%= stylesheet_link_tag "css/style.css" %> 
	<%= stylesheet_link_tag "css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "css/responsive.css" %>
	<%= stylesheet_link_tag "css/font-awesome.min.css" %>
	<%= stylesheet_link_tag "css/effects/set2.css" %>
	<%= stylesheet_link_tag "css/effects/normalize.css"  %>
	<%= stylesheet_link_tag "css/effects/component.css" %>
	<!--font awesome icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>



<body style="background-color: #ffffff">
	<!-- main -->
	<main role="main-inner-wrapper" class="container">
		<div class="contat-from-wrapper" style="width: 50%; margin-left: auto; margin-right: auto">
			<div id="message"><h1 style="text-align: center; font-weight: 675"><span>Log in</span></h1></div>
			<p style="text-align: center">Don't have an account? <%= link_to "Sign up", '/signup' %></p>
			<hr>
			<%= form_for(:session, :url => login_path, :name => "cform", :id => "cform") do |f| %>  
			<%= f.email_field :email, :id => "email", :placeholder => "Email" %><br>
			<%= f.password_field :password, :id => "password", :cols => "", :rows => "", :placeholder => "Password" %> <br>
			<p class="flash-notice" style="color: #fb5353"><%= flash.notice %></p>
			<input name="" type="submit" value="Login">
			<% end %>
		</div>
	</main>

	<!-- footer -->
	<%= javascript_include_tag "js/jquery.min.js"  %>
	<%= javascript_include_tag "js/nav.js"  %>
	<%= javascript_include_tag "js/custom.js"  %>
	<%= javascript_include_tag "js/bootstrap.min.js"  %>
	<%= javascript_include_tag "js/effects/masonry.pkgd.min.js"  %>
	<%= javascript_include_tag "js/effects/imagesloaded.js"  %>
	<%= javascript_include_tag "js/effects/classie.js"  %>
	<%= javascript_include_tag "js/effects/AnimOnScroll.js"  %>
	<%= javascript_include_tag "js/effects/modernizr.custom.js"  %>
	<%= javascript_include_tag "js/html5shiv.js"  %>

</body>
</html>