<!DOCTYPE HTML>
<html>
<head>
	<!-- Description, Keywords and Author -->
	<title>Easy Recipeasy</title>
	<meta desc="Easy Recipeasy is a recipe web app that makes it easy for you to find new recipes and cook them! It has features like custom login and profiles to save recipes you like, and Flipp integration so that you can find the best deals on ingredients.">
	<meta name="author" content="Alex Yizhe Xie">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta charset="utf-8">
	
	<!-- style -->
	<%= stylesheet_link_tag "css/user-page-style.css" %> 
	<%= stylesheet_link_tag "css/bootstrap-user-css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "css/bootstrap-user-css/bootstrap-grid.min.css" %>
	<%= stylesheet_link_tag "css/bootstrap-user-css/bootstrap-reboot.min.css" %>
	<%= stylesheet_link_tag "css/user-dropdown-style.css" %>
	<%= stylesheet_link_tag "css/additional-user-style.css", :type => "text/css" %>
	<%= stylesheet_link_tag "css/style.css" %> 
	<%= stylesheet_link_tag "css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "css/responsive.css" %>
	<%= stylesheet_link_tag "css/font-awesome.min.css" %>
	<%= stylesheet_link_tag "css/effects/set2.css" %>
	<%= stylesheet_link_tag "css/effects/normalize.css"  %>
	<%= stylesheet_link_tag "css/effects/component.css" %>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114911192-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114911192-2');
	</script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>


<body style="background-color: #ffffff">
	<main role="main-home-wrapper" class="container" style="margin-top: 125px">
		<!-- Left Row -->
		<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid" style="background-color: #ffffff">
			<ul class="grid-lod effect-2" id="grid">
				<li>
					<figure style="background-color: #e84d49">
						<%=image_tag("logo-main-landing.png", style: "opacity: 1;background-color: #ffffff; margin-top:-30px") %>
						<h2 style="margin: 20px">

							<% if current_user %> 
							<span>Welcome back, <%= current_user.name %></span>!
							<% else %>
							<%= link_to '<span style="font-size: 3rem" >Log in</span>'.html_safe, login_path, style: "color: inherit; text-decoration: inherit; display: inline" %> or <%= link_to '<span style="font-size: 3rem" >sign up</span>'.html_safe, signup_path, style: "color: inherit; text-decoration: inherit; display: inline" %> for more!
							<% end %>
						</h2>

					</figure>
				</li>
				<li>
					<figure style="background-color: #e84d49; margin-left: 40px; margin-top: -5%">
						<h2 style="margin: 20px; font-size: 2rem; letter-spacing: 1.2px">Check out these new flavours, just for you:</h2>
					</figure>
				</li>

				<% @recipes[0..4]&.each do |recipe| %>
				<li>
					<figure class="effect-oscar">
						<% food_img = recipe.img_url ? recipe.img_url : "home-images/image-steak.jpg" %>
						<%=image_tag(food_img, class: 'img-responsive', style: "opacity: 0.75") %>
						<figcaption>
							<h2 style="margin: 0px"><span><%= recipe.name %></span></h2>
							<p style="margin-top: 10px">
								<%= recipe.desc %><br><br>
								<i class="fas fa-fire"></i> <%= recipe.calories %>&nbsp;&nbsp;
								<i class="fas fa-utensils"></i> <%= recipe.servings %>  &nbsp;&nbsp;
								<i class="fas fa-clock"></i></i> <%= recipe.cooktime %>
							</p>
							<%= link_to recipe.name, recipe_path(recipe) %>
						</figcaption>
					</figure>
				</li>
				<% end %>
			</ul>
		</section>

		<!-- Right Row -->
		<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid" style="background-color: #ffffff">
			<ul class="grid-lod effect-2" id="grid">
				<% @recipes[5..9]&.each do |recipe| %>
				<li>
					<figure class="effect-oscar">
						<% food_img = recipe.img_url ? recipe.img_url : "home-images/image-steak.jpg" %>
						<%=image_tag(food_img, class: 'img-responsive', style: "opacity: 0.75") %>
						<figcaption>
							<h2 style="margin: 0px"><span><%= recipe.name %></span></h2>
							<p style="margin-top: 10px">
								<%= recipe.desc %><br><br>
								<i class="fas fa-fire"></i> <%= recipe.calories %>&nbsp;&nbsp;
								<i class="fas fa-utensils"></i> <%= recipe.servings %>  &nbsp;&nbsp;
								<i class="fas fa-clock"></i></i> <%= recipe.cooktime %>
							</p>
							<%= link_to recipe.name, recipe_path(recipe) %>
						</figcaption>
					</figure>
				</li>
				<% end %>
			</ul>
		</section>
		<div class="clearfix"></div>
	</div>
</main>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<%= javascript_include_tag "js/jquery.min.js"  %>
<%= javascript_include_tag "js/nav.js"  %>
<%= javascript_include_tag "js/custom.js"  %>
<%= javascript_include_tag "js/bootstrap.min.js"  %>
<%= javascript_include_tag "js/effects/masonry.pkgd.min.js"  %>
<%= javascript_include_tag "js/effects/imagesloaded.js"  %>
<%= javascript_include_tag "js/effects/classie.js"  %>
<%= javascript_include_tag "js/effects/AnimOnScroll.js"  %>
<%= javascript_include_tag "js/effects/modernizr.custom.js"  %>
<%= javascript_include_tag "js/html5shiv.js"  %>
<%= javascript_include_tag "user-js/jquery.min.js"  %>
<%= javascript_include_tag "user-js/bootstrap.min.js"  %>
<%= javascript_include_tag "user-js/script.js"  %>
<%= javascript_include_tag "user-js/dropdown-script.min.js"  %>
</body>

</html>