<!DOCTYPE HTML>

<html>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<meta charset="utf-8">

	<!-- Description, Keywords and Author -->

	<meta name="description" content="">

	<meta name="author" content="">



	<title>:: avana LLC | Blog ::</title>

	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<!-- bootstrap -->

	<%= stylesheet_link_tag "css/style.css" %> 
	<%= stylesheet_link_tag "css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "css/responsive.css" %>
	<%= stylesheet_link_tag "css/font-awesome.min.css" %>
	<%= stylesheet_link_tag "css/effects/set2.css" %>
	<%= stylesheet_link_tag "css/effects/normalize.css"  %>
	<%= stylesheet_link_tag "css/effects/component.css" %>

	<!--font awesome icons -->
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>



<body>

	<!-- header -->

	<%= render "shared/nav-bar" %>
	<!-- header -->

	<!-- main -->

	<main role="main-inner-wrapper" class="container">


		<h1>ALL RECIPES</h1>
		<div class="contat-from-wrapper">
			<%= form_tag(search_for_recipes_recipes_path, method: :get, id: "search-db-field") do %>
				<%= text_field_tag :search_param, nil, placeholder: "Find a Recipe", style: "margin-left:-7%; max-width:80%; float:left" %>
				<%= submit_tag "Search", style: "margin-right:-69px; margin-top:-40px; margin-bottom:20px" %>
			<% end %>
			
		</div>
		<div class="row">



			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">

				<!--<article role="pge-title-content" class="blog-header">

					<header>

						<h2><span>News</span> Updates from studio</h2>

					</header>

					<p>Get all information about our studio from latest news posts & updates page.</p>

				</article>-->

				<ul class="grid-lod effect-2" id="grid">
					<% @recipes[0..(@recipes.size / 2)].each do |recipe| %>
						<li>
							<section class="blog-content">
								<%= link_to ('<figure><div class="post-date"><span>' + recipe.users.size.to_s + '</span> Likes </div>' + (image_tag("home-images/image-steak.jpg", class: 'img-responsive')) + '</figure>').html_safe, recipe_path(recipe) %>
								<article>
									<span><%= recipe.name.upcase! %></span>
									<p><%= recipe.desc %></p>
								</article>
							</section>
						</li>
					<% end %>
				</ul>

			</div>



			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<ul class="grid-lod effect-2" id="grid">
					<% @recipes[(@recipes.size / 2 + 1)...(@recipes.size)].each do |recipe| %>
						<li>
							<section class="blog-content">
								<%= link_to ('<figure><div class="post-date"><span>' + recipe.users.size.to_s + '</span> Likes </div>' + (image_tag("home-images/image-steak.jpg", class: 'img-responsive')) + '</figure>').html_safe, recipe_path(recipe) %>
								<article>
									<span><%= recipe.name.upcase! %></span>
									<p><%= recipe.desc %></p>
								</article>
							</section>
						</li>
					<% end %>

				</ul>

			</div>
		</div>

	</main>

	<!-- main -->

	<%= render "shared/footer" %>


	 <!-- footer -->
	  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	  <%= javascript_include_tag "js/jquery.min.js"  %>
	  <%= javascript_include_tag "js/nav.js"  %>
	  <%= javascript_include_tag "js/custom.js"  %>
	  <%= javascript_include_tag "js/bootstrap.min.js"  %>
	  <%= javascript_include_tag "js/effects/masonry.pkgd.min.js"  %>
	  <%= javascript_include_tag "js/effects/imagesloaded.js"  %>
	  <%= javascript_include_tag "js/effects/classie.js"  %>
	  <%= javascript_include_tag "js/effects/AnimOnScroll.js"  %>
	  <%= javascript_include_tag "js/effects/modernizr.custom.js"  %>
	  <%= javascript_include_tag "js/html5shiv.js"  %>

</body>

</html>