<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="description" content="Recipe Page">
	<title>Recipe</title>
	<%= stylesheet_link_tag "css/recipe-page-style.css" %> 
	<%= stylesheet_link_tag "css/bootstrap-recipe-css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "css/bootstrap-recipe-css/bootstrap-grid.min.css" %>
	<%= stylesheet_link_tag "css/bootstrap-recipe-css/bootstrap-reboot.min.css" %>
	<%= stylesheet_link_tag "css/additional-recipe-style.css", :type => "text/css" %>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
	<%= render "shared/nav-bar" %>

	<section class="counters1 counters cid-qKxEBp95ZB" id="counters1-t" style="margin-top: 125px">
		<div class="container">   
			<div class="col-md-12">
				<div class="media-container-row">
					<div class="mbr-figure" style="width: 100%%; align-self: auto; padding-top:1.5rem!important; margin-left: 1rem!important">
						<% food_img = @recipe.img_url ? @recipe.img_url : "home-images/image-steak.jpg" %>
						<%= image_tag(food_img, style: 'max-width: 1000px; max-height: 900px') %>
					</div>
					<div class=" align-left aside-content" style="max-width: 50%">
						<h2 class="mbr-title pt-2 mbr-fonts-style display-2" style="font-size: 5rem">
							<%= @recipe.name %>
							<%= 
							if @user
								if @user.recipes.exists?(@recipe.id)
									link_to '<i class="fas fa-heart"></i></i>'.html_safe, delete_from_favs_users_path(user_id:@user.id, recipe_id: @recipe.id), class: "fav_recipe_true", style: "font-size:0.7em", data: { confirm: "Delete from your favourites?" }
								else
									link_to '<i class="far fa-heart"></i>'.html_safe,  add_to_favs_recipes_path(user_id:@user.id, recipe_id: @recipe.id), class: "fav_recipe_false", style: "font-size:0.7em"
								end
							else
								link_to '<i class="far fa-heart"></i>'.html_safe, login_path, class: "fav_recipe_false", style: "font-size:0.7em"
							end
							%>
							<span style="font-size:0.7em; color: #fb5353"><%= @recipe.users.size.to_s %></span>
						</h2>
						<div style="display:table">
							<div style="display: table-cell; min-width: 100px">
								<h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
									<%= @recipe.calories %>
								</h3>
								<h4 class="mbr-content-title mbr mbr-fonts-style display-7" style="font-size:1.5rem">
									Calories
								</h4>
							</div>
							<div style="display: table-cell; min-width: 100px">
								<h3 class="count pt-3 pb-3 mbr-fonts-style display-2" >
									<%= @recipe.servings %>
								</h3>
								<h4 class="mbr-content-title mbr mbr-fonts-style display-7" style="font-size:1.5rem">
									Servings
								</h4>
							</div>
							<div style="display: table-cell; min-width: 100px">
								<h3 class="count pt-3 pb-3 mbr-fonts-style display-2">
									<%= @recipe.cooktime %>
								</h3>
								<h4 class="mbr-content-title mbr mbr-fonts-style display-7" style="font-size:1.5rem">
									Minutes to Make
								</h4>
							</div>
						</div>
						<div class="mbr-section-text">
							<h4 class="mbr-title pt-2 mbr-fonts-style display-3" style="font-size:3rem; margin-top: 20px">
								Description
							</h4>
							<p class="mbr-text mb-5 pt-1 mbr mbr-fonts-style display-5" style="font-size:1.5rem; line-height: 1.4">
								<%= @recipe.desc %>
							</p>
							<% if @recipe.ingredients %>
							<h4 class="mbr-title pt-2 mbr-fonts-style display-3" style="font-size:3rem">
								Ingredients
							</h4>
							<ul style="columns: 3; -webkit-columns: 3; -moz-columns:3">
								<% @recipe.ingredients.each do |ingr| %>
								<li style="margin-left: 15px; font-size:1.5rem"><%= link_to ingr.capitalize, search_for_deals_recipes_path(item:ingr) %></li>
								<% end %> 
							</ul>
							<% end %>
							
							<% if @recipe.directions %>
							<h4 class="mbr-title pt-0 mbr-fonts-style display-3" style="margin-top:10px; font-size: 3rem">
								Directions
							</h4>
							<ol>
								<% @recipe.directions.each do |dir| %>
								<li style="margin-left: 15px; font-size:1.5rem"><%= dir %></li>
								<% end %> 
							</ol>
							<% end %>
							<% if @recipe.categories %>
							<h4 class="mbr-title pt-0 mbr-fonts-style display-5" style="font-size:2rem; display: inline">
								Categories
							</h4>
							<% @recipe.categories.each do |cat| %>
							<span style="font-size:1.5rem">.<%= cat %> </span>
							<% end %>
							<% end %>
							
							<span style="font-size:2rem">
								<br>
								<br>
								<%= link_to "X delete", recipe_path(@recipe), method: :delete %> <br>
								<%= link_to "<< Back to Home", '/' %>
							</span>
						</div>
					</div>
				</div>
			</div> 
		</div>          
	</section>
	<%= render "shared/footer" %>

	<%= javascript_include_tag "recipe-js/jquery.min.js"  %>
	<%= javascript_include_tag "recipe-js/bootstrap.min.js"  %>
	<%= javascript_include_tag "recipe-js/jquery.viewportchecker.js"  %>
	<%= javascript_include_tag "recipe-js/script.js"  %>
</body>
</html>