<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>  
	<div class="field"> 
		<%= f.text_field :name, :placeholder => "Name" %> <br>
		<%= f.email_field :email, :placeholder => "Email" %> <br>
		<%= f.password_field :password, :placeholder => "Password" %> <br>

		<%= f.text_field :bio, :placeholder => "Introduce Yourself!" %> <br>
	</div> 

	<div class="actions"> 
		<%= f.submit "Create" %> 
	</div> 
<% end %>

<%= link_to "Back", recipes_path %>